/* ===== x-large devices (large desktops, less than 1400px)===== */
@media (max-width: 1400px) {
}
/* ===== large devices (desktops, less than 1200px) ===== */
@media (max-width: 1199px) {
  /* top-header css start */
  #header_part .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* nav-bar css start */
  nav .nav-item .nav-link {
    margin-left: 10px;
  }
  /* main-part css start */
  .overlay h1 {
    font-size: 55px;
    margin-bottom: 10px;
  }
  /* statistics-part css start */
  .stat-box h3 {
    min-height: 48px;
  }
  /* top-course part css start */
  #top-course-part .course-details {
    padding: 15px 10px;
  }
  #top-course-part .course-details h3 {
    font-size: 18px;
    height: 40px;
  }
  .course-btn {
    font-size: 14px;
  }
  /* free-seminar-part css start */
  .seminar-left-sec h3 {
    font-size: 36px;
  }
  .seminar-left-sec p {
    font-size: 16px;
  }
  /* become-instructor part css start */
  .instructor-content p {
    margin: 10px 0;
  }
  /* top-instructor part css start */
  .instructor-box {
    padding: 25px 10px;
  }
  .instructor-box .instructor-box-content h5 {
    font-size: 20px;
  }
  .instructor-box .instructor-box-content h6 {
    font-size: 14px;
  }
  /* support&facilities-part css start */
  .support-item-box {
    padding: 20px 12px;
  }
  .support-item-box h3 {
    font-size: 20px;
  }
  .support-item-box p {
    font-size: 16px;
  }
  /* newsletter-part css start */
  .newsletter_content h2 {
    font-size: 26px;
  }
  .newsletter_form input {
    width: 275px;
  }
}
/* ===== medium devices (tablets, less than 992px) ===== */
@media (max-width: 991px) {
  /* main-part css start */
  .overlay h1 {
    font-size: 40px;
  }
  .overlay p {
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  /* success-part css start */
  .review-box {
    padding: 20px;
  }
  /* top-instructor css start */
  .instructor-box .instructor-box-img img {
    width: 100px;
    height: 100px;
  }
  .instructor-box .instructor-box-content h5 {
    font-size: 13px;
    font-weight: 700;
  }
  .instructor-box .instructor-box-content h6 {
    font-size: 12px;
    font-weight: 700;
  }
  .instructor-box .instructor-box-content p {
    font-size: 12px;
  }
  .instructor-rateing p i {
    margin-right: 0px;
  }
  .instructor-box .instructor-box-content a {
    font-size: 13px;
  }
  /* support&facilities css start */
  .support-item-box {
    padding: 10px 5px;
  }
  .support-item-box h3 {
    font-size: 16px;
  }
  .support-item-box p {
    font-size: 15px;
  }
  /* news and events css start */
  .news-box-content {
    padding: 12px 10px;
  }
  .news-box-content h5 {
    font-size: 15px;
  }
  .news-box-content a {
    font-size: 13px;
  }
  /* newsletter form part start */
  .newsletter_form {
    margin-top: 15px;
  }
  /* footer css start */
  #footer_part .footer-logo a img {
    width: 140px;
  }
  #footer_part .footer-logo p {
    font-size: 13px;
  }
  .footer-logo .social-link i {
    font-size: 13px;
  }
  .footer-logo .social-link li {
    background-color: #6b6b6b;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
  }
  .footer-logo .social-link li a {
    margin-top: 0px;
    color: #ffffff;
  }
  .address-part h4,
  .footer-links h4 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .footer-links ul li a {
    font-size: 13px;
  }
  .address-part address {
    color: #ffffff;
    font-size: 13px;
  }
  .address-part i,
  .address-part p {
    font-size: 14px;
    color: #ffffff;
  }
  .address-part p a {
    color: var(--primary-color);
    font-size: 13px;
  }
  #copyright-part p {
    font-size: 13px;
  }
  /* =====courses page css start===== */
  /* courses range css start */
  .mim-max {
    font-size: 15px;
  }
  .single-course col {
    font-size: 10px;
  }
  .single-course .fa-solid {
    font-size: 10px;
  }
  .single-course p {
    font-size: 12px;
  }

  .single-course h3 {
    font-size: 20px;
  }
  /* feature-part css start */
  .course-btn {
    padding: 3px;
  }
  .course-btn-group {
    text-align: center;
  }

  /* popular-instructor css start */
  .instructor-box .instructor-box-img img {
    width: 100px;
    height: 100px;
  }
  .instructor-box .instructor-box-content h5 {
    font-size: 13px;
    font-weight: 700;
  }
  .instructor-box .instructor-box-content h6 {
    font-size: 12px;
    font-weight: 700;
  }
  .instructor-box .instructor-box-content p {
    font-size: 12px;
  }
  .instructor-rateing p i {
    margin-right: 0px;
  }
  .instructor-box .instructor-box-content a {
    font-size: 13px;
  }
  /* courses details page start */
  /* courses-head start */
  #courses-heade h2{
    font-size: 20px;
  }
  #courses-heade h5{
    font-size: 15px;
  }
  #courses-heade p{
    font-size: 12px;
  }
  .seminar-sec {
    position: relative;
    top:160px;
    height: 150px;
   width: 300px;
  }
  /* tag-part start */
  .tag{
    padding: 10px;
  }
  .btn{
    font-size: 12px;
  }
  /* review-part start */
  .success-part-content h5, p{
    font-size: 12px;

  }
}
/* ===== small devices (landscape phones, less than 768px) ===== */
@media (max-width: 767px) {
  /* common css start */
  .section-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  /* top-header part start */
  .header_left {
    text-align: center;
  }
  .header_right {
    float: none !important;
    text-align: center;
    margin-top: 10px;
  }
  .header_right .social-link li {
    display: none;
  }
  .header_right .social-link li.header-btn {
    display: inline;
  }
  /* navbar part start */
  nav .nav-item .nav-link {
    margin-left: 0px;
  }
  nav form {
    margin-left: 0px;
  }
  /* main part start */
  .banner-carousel .item {
    min-height: 400px;
  }
  .banner-carousel .item img {
    height: 100% !important;
  }
  /* set your goal part start */

  .goal-item-content h4 {
    font-size: 20px;
  }
  /* top-course part start */
  #top-course-part .course-details h3 {
    font-size: 17px;
    height: 60px;
  }
  .course-btn-group {
    text-align: center;
  }
  .course-btn {
    margin-bottom: 5px;
  }
  /* free seminar part start */
  .seminar-right-sec {
    margin-top: 25px;
  }
  /* success part start */
  .success-part-content {
    margin-top: 25px;
  }
  /* top-instructor part start */
  .instructor-box {
    text-align: center;
    padding: 15px 20px;
  }
  .instructor-box .instructor-box-content h5 {
    font-size: 20px;
  }
  .instructor-box .instructor-box-content h6 {
    font-size: 16px;
  }
  .instructor-box .instructor-box-content p {
    font-size: 15px;
  }
  .instructor-box .instructor-box-content a {
    font-size: 16px;
  }
  /* support part start */
  .support-item-box {
    padding: 10px 25px;
  }
  .support-item-box h3 {
    height: 35px;
  }
  /* news & event part start */
  .news-box-content h5 {
    font-size: 20px;
  }
  .news-box-content p {
    font-size: 16px;
  }
  .news-box-content a {
    font-size: 15px;
  }
  /* courses page css start */
    /* courses range css start */
    .mim-max {
      font-size: 10px;
    }
    .range-chack h3{
      font-size: 20px;
    }
    .form-check{
      font-size: 12px;
    }
  
    /* courses carosul start */
    .courses h3{
      font-size: 20px;
    }
    .course-details .row{
      font-size: 8px;
    }
    .single-course .fa-solid{
      font-size: 10px;
    }
    .single-course p{
      font-size: 10px;
    }
   
    .single-course h3{
      font-size: 20px;
    }
    .single-course span{
      font-size: 12px;
    }
    /* feature-part css start */
   
    .course-btn-group {
      text-align: center;
    }
    /* courses details page start */
     /* courses-head start */
  #courses-heade h2{
    font-size: 15px;
  }
  #courses-heade h5{
    font-size: 12px;
  }
  #courses-heade p{
    font-size: 10px;
  }
  .seminar-sec {
    position: relative;
    top:130px;
    height: 150px;
   width: 250px;
  }
  /* tag-part start */
  
  .btn{
    font-size: 10px;
  }
}
/* ===== x-small devices (portrait phones, less than 576px) ===== */
@media (max-width: 575px) {
  /* main part start */
  .banner-carousel .item p,
  .banner-carousel .item span {
    text-align: center;
  }
  .banner-carousel .item span a {
    margin-bottom: 7px;
    margin-left: 0px !important;
  }
  .overlay h1 {
    font-size: 25px;
    text-align: center !important;
  }
  .overlay p {
    padding: 0px 35px;
  }
  /* set your goal part start */
  .your-goal-carousel .item {
    padding: 15px;
  }
  .owl-prev {
    left: 27px;
  }
  .owl-next {
    right: 27px;
  }
  /* our-top course part start */
  #top-course-part .owl-next,
  #top-course-part .owl-prev {
    bottom: 40%;
  }
  .course-details {
    text-align: center;
  }
  /* newsletter part start */
  .footer_newsletter {
    padding: 60px 30px;
  }
  .newsletter_form {
    text-align: center;
  }
  .newsletter_form .theme-btn {
    width: 100%;
    margin-top: 7px;
  }
  .newsletter_content h2 {
    font-size: 20px;
  }
  .newsletter_form input {
    width: 100%;
  }
  /* footer part start */
  #footer_part .footer-logo p {
    margin-top: 0px;
  }
  .address-part address {
    margin-bottom: 0;
  }
  /* contact page css start */
  .working-form-part .col-md-7 {
    margin-top: 25px;
  }
  /* trainer-details page css start */
  #profile-part-hero h2 {
    margin-top: 15px;
  }
  /* courses page css start */
    /* our-top course part start */
 .featured-carousel .owl-next,
 .featured-carousel .owl-prev {
    bottom: 50%;
  }
  .owl-prev {
    left: -15px;
  }
  .owl-next {
    right: -15px;
  }      
  .course-details {
    text-align: center;
  }
}
